# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.tox/
.coverage
.coverage.*
htmlcov/
dist/
build/
.eggs/

# Envs & secrets
.env
.env.*
venv/
.venv/
*.pem
*.key
*.crt
*.p12
id_rsa
id_ed25519
*.keystore
*.jks
.secrets/

# OS/Editors
.DS_Store
.idea/
.vscode/

# Helper dev code
dev_scripts/